/* https://css.gg/home */
@import './icons.css';
/* https://necolas.github.io/normalize.css/ */
@import './normalize.css';
/* https://meyerweb.com/eric/tools/css/reset/ */
@import './reset.css';
@import './font.css';

.main {
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    flex-direction: row;
}


.left {
    flex: .3645;
    background-color: #39383a;
}



.avatar {
    background-image: url('../img/av2.jpg');
    background-size: cover;
    background-position: center;
    width: 95%;
    height: 600px;
}

.content {
    padding: 80px;
}

.block {
    margin-top: 55px;
}

.flex {
    display: flex;
}

.profile__title {
    font-size: 42px;
    line-height: 42px;
    color: #fff;
    font-family: 'Open sans';
    font-weight: 600;
    margin-bottom: 40px;
}

.divider {
    margin-top: 65px;
    border: 0.5px #525252 dashed;
}

.text {
    margin-top: 55px;
    font-family: 'roboto';
    font-weight: 100;
    color: #ababab;
    font-size: 33px;
    line-height: 42px;
    letter-spacing: 1.5px;
}

.icon {
    margin-top: 10px;
    transform: scale(1.5);
    color: #fff;
}

.info__container {
    margin-left: 35px;
}

.title__secondary {
    font-family: 'open sans';
    font-weight: 600;
    margin-top: 0;
    font-size: 42px;
    line-height: 42px;
    color: #fff;
}

.subtitle {
    font-family: 'open sans';
    font-weight: 100;
    color: #ababab;
    font-size: 33px;
    line-height: 42px;
    letter-spacing: 1.5px;
}

.gg-home {
    margin-top: 20px;
}

.lang_block {
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
}

.lang {
    display: flex;
    flex-direction: column;
    width: 260px;
    height: 260px;
    background-color: #39383a;
    border-radius: 140px;
    border: 17px #5c5c5c solid;
    justify-content: center;
    align-items: center;
    margin-right: 30px;
}

.lang_name {
    font-family: 'open sans';
    font-weight: 600;
    text-transform: uppercase;
    font-size: 29px;
    line-height: 54px;
    color: #ababab;
}

.lang_percent {
    font-family: 'open sans';
    font-weight: 600;
    color: white;
    font-size: 37px;
    line-height: 54px;
}

/*Midlle*/
.middle {
    flex: .02016;
    background-color: #eaeaea;
}

/*Right*/
.right {
    flex: .6153;
    display: flex;
    flex-direction: column;
    border: solid;
    border-color: #525252;
    border-width: 2px;
    margin: 60px 70px;
}
.right_pad {
    padding-left: 140px;
    padding-right: 90px;
}

.logo_container {
    display: flex;
    height: 333px;
    justify-content: center;
    flex-wrap: nowrap;

}

.logo__left {

    width: 162px;
    height: 100%;
}

.up {
    margin-top: 160px;
    border: 2px black solid;
    background-color: black;
    margin-left: 60px;
}

.line {
    margin-top: 50px;
    margin-right: 20px;
    border: 2px black solid;
    background-color: black;
}

.down {
    margin-top: 45px;
    margin-left: 60px;
    border: 2px black solid;
    background-color: black;

}

.logo__middle {
    width: 325px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.rs {
    font-family: 'roboto';
    display: flex;
    flex-direction: column;
    width: 235px;
    height: 235px;
    border-radius: 140px;
    border: 5px black solid;
    justify-content: center;
    align-items: center;
    margin-top: 95px;
    margin-right: 30px;
    font-size: 46px;

}

.logo__right {
    width: 162px;
}

.up_rev {
    margin-top: 160px;
    border: 2px black solid;
    background-color: black;
    margin-right: 60px;
}

.line_rev {
    margin-top: 50px;
    margin-left: 20px;
    border: 2px black solid;
    background-color: black;
}

.down_rev {
    margin-top: 45px;
    margin-right: 60px;
    border: 2px black solid;
    background-color: black;

}

.name {
    margin-top: 95px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
}

.nick {
    font-family: 'roboto';
    font-weight: 500;
    font-size: 42px;
    line-height: 42px;
}

.profession {
    font-family: 'roboto';
    font-weight: 500;
    margin-top: 45px;
    color: #808080;
    font-size: 23px;
}

.home {
    font-family: 'roboto';
    font-weight: 500;
    margin-top: 88px;
    font-size: 33px;
}

.contacts {
    font-family: 'roboto';
    font-weight: 400;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 21px;
    color: #808080;

}

.obstacle {
    margin: 0 32px 0 32px;
}

.center_line {
    height: 2px;
    background-color: #525252;
    margin: 90px 0 0 0;

}

.exp {
    font-family: 'open sans';
    font-weight: 600;
    margin-top: 100px;
    font-size: 42px;
    margin-bottom: -35px;
}

.li {
    display: flex;
    flex-direction: row;
}

.point {
    width: 22px;
    height: 22px;
    border-radius: 140px;
    background-color: black;
    ;
    margin-top: 100px;
    margin-right: 80px;
}

.job {
    margin-top: 100px;
}

.job__name {
    font-family: 'roboto';
    font-weight: 500;
    font-size: 29px;
}

.date {
    font-family: 'open sans';
    font-weight: 600;
    margin-top: 37px;
    font-size: 27px;
}

.respo {
    margin-right: 15%;
    font-family: 'roboto';
    font-weight: 400;
    margin-top: 50px;
    font-size: 25px;
    color: #777777;
}

.divider_right {
    margin-top: 85px;
    border: 0.5px #525252 dashed;

}

.skillbox {
    margin: 125px 0 300px 0;
    display: flex;
    flex-direction: column;

}

.skill {
    display: flex;
    margin-bottom: 100px;
}

.skill_name {
    font-family: 'open sans';
    font-weight: 600;
    width: 280px;
    font-size: 29px;
    margin-right: 120px;
}

.loading {
    display: flex;
    height: 20px;
    width: 690px;
    border: 2px #39383a solid;
}

.filth {
    
    background-color: black;
    width: 37%;
}

.html {
    width: 22%;
}

.css {
    width: 24%;
}